.h50 {
  height: 50%;
}
.h33 {
  height: 33%;
}
.h25 {
  height: 25%;
}

.bg {
  background: rgba(0, 36, 40, 0.4);
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabWrap {
  border: 0px solid yellow;
}

.line::before {
  display: inline-block;
  content: '';
  width: 0px;
  height: 33px;
  border: 1px solid #2b5353;
  margin-right: 20px;
}

.ti1 {
  text-indent: 1em;
}

.ti2 {
  text-indent: 2em;
}
.ti3 {
  text-indent: 3em;
}
.ti4 {
  text-indent: 4em;
}
